<nav>
    <h1><a href="/">Ninja Smoothies</a></h1>
    <ul>
        <% if (user) { %>
            <li style="text-transform: capitalize;">Welcome, <%= user.username %></li>

            <% if (user.permission === 'ADMIN') {  %>
                <li><a href="/smoothies/upload">Upload New Drinks</a></li>
            <% } %>
 
            <li><a href="/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/users/login">Log in</a></li>
            <li><a href="/users/signup" class="btn">Sign up</a></li>
        <% } %>
    </ul>
</nav>