
<!DOCTYPE html>
<html lang="en">
<%- include('partials/header'); -%>
<body>
  <%- include('partials/nav'); -%>
  <header>
    <div class="smoothie">
      <img src="/img/smoothie.png" alt="">
    </div>
    <div class="headings">
      <h2>Smoothie</h2>
      <h3>By Ninjas For Ninjas</h3>
      <a href="/smoothies" class="btn">View Drinks</a>
    </div>
  </header>
  <%- include('partials/footer'); -%>
</body>
</html>



