<!DOCTYPE html>
<html lang="en">
<%- include('partials/header'); -%>
<body>
    <%- include('partials/nav'); -%>
    <form>
        <h2>Sign Up</h2>
        <label for="username">Username</label>
        <input class="username" type="text" name="username"/>
        <div class="username error"></div>

        <label for="email">Email</label>
        <input type="text" name="email"/>
        <div class="email error"></div>
    
        <label for="password">Password</label>
        <input type="password" name="password"/>
        <div class="password error"></div>
    
        <label for="password1">Confirm Password</label>
        <input type="password" name="password1"/>
        <div class="password1 error"></div>
    
        <button type="submit">Sign Up</button>
    </form>
    <%- include('partials/footer'); -%>
    <script src="/js/signup.js"></script>
</body>
</html>










